*.log
.DS_Store
.env
.env.backup
.env.production
.env.local
.env.testing

.phpactor.json
.phpunit.result.cache
/.phpunit.cache

/.fleet
/.idea
/.nova
/.vscode
/.zed

/auth.json

/node_modules
/public/build
/public/hot
/public/storage

/storage/*.key
/storage/*.log
/storage/pail

/bootstrap/cache/*.php

/vendor

Homestead.json
Homestead.yaml

Thumbs.db
Desktop.ini

npm-debug.log
yarn-error.log